$bsCardBoxShadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.03);
$bsCardBorderColor: rgba(241, 241, 244, 0.84);
$bsCardBorderRadius: 8px;
$bsModalHeaderBorderColor: #F1F1F4;

$colorError: #e74c3c;
$colorWhite: #fff;
$colorBlack: #282f53;

$colorDark1: #28293D;
$colorDark2: #555770;
$colorDark3: #8F90A6;
$colorDark4: #C7C9D9;
$colorLight: #E4E4EB;
$colorLight1: #EBEBF0;
$colorLight2: #F2F2F5;
$colorLight3: #FAFAFC;
$colorLight4: #FFFFFF;
$colorRed: #E60A32;
$colorRed1: #EB3B5B;
$colorRed2: #FF5C5C;
$colorRed3: #E0211F;
$colorGreen: #05A660;
$colorGreen1: rgba(6, 194, 112, 0.67);
$colorGreen2: #39D98A;
$colorGreen3: #67c23a;
$colorBlue: #004FC4;
$colorBlue1: #2F6BFF;
$colorBlue2: #5B8DEF;
$colorYellow: #E5B800;
$colorYellow1: #FFCC00;
$colorYellow2: #FDDD48;
$colorOrange: #E57A00;
$colorOrange1: #FF8800;
$colorOrange2: #FDAC42;

$colorStroke: #d8e0ea;
$colorSecond: #e74c3c;
$colorGray: #cccccc;
$colorPlaceholder: #abb4bf;
$colorSuccess: #2ebb7b;
/* Button */
$colorBackgroundButton: #2B3847;
$colorTextButton: $colorLight4;
$colorBackgroundButtonCancel: #6B7F8D;
$colorBackgroundButtonRemove: #ABB4CE;
$colorTextButtonRemove: #7E8CB2;
$colorBackgroundButtonFilter: #fff;
$colorTextButtonFilter: #000000;
$colorBorderButtonFilter: #BAC7D5;

/* Notification */
$colorBackgroundSuccess: #E4F6D8;
$colorBorderSuccess: #B8DAA2;
$colorBackgroundError: #FFEBE9;
$colorBorderError: #E0B4AD;
$colorBackgroundWarning: #F8F4D2;
$colorBorderWarning: #DDD8A9;
