.headerWrap {
  background-color: #e2eaf8;
  box-shadow: rgba(100, 100, 109, 0.3) 0px 7px 20px 0px;

  position:fixed ;

  .headerContent {
    .headerLeftWrap {
      .itemHeaderLeft {
        .iconWrap {
          @apply text-[22px] text-gray-50 transition-all duration-300
        }

        @apply mr-2.5 p-2.5 cursor-pointer
      }

      .logoHeader {

        .imgWrap {
          img {
            @apply object-cover cursor-pointer w-auto h-[60px];
          }
        }

        @apply flex justify-center items-center h-[44px] transition-all duration-500 overflow-hidden relative
      }
      @apply mr-5;
    }

    .navBar{
      display: flex;
      justify-content: space-between !important;
      width: 100%;

      .navContent {
        margin-top: 5px;
        
        .activePath{
          @apply text-[#4096ff] #{!important}
        }
        .navItem{
          @apply py-2 px-3 lg:hover:text-[#4096ff] text-gray-35 block font-semibold text-[14px] cursor-pointer
        }
        @apply flex space-x-5;
      }
      
    }

    .headerRightWrap {
      .itemHeaderRight {
        &:hover {
          .iconWrap {
            @apply text-blue-65
          }
        }

        .iconWrap {
          @apply flex items-center text-base transition-all duration-300 text-black-20
        }

        .infoWrap {
          .avatarWrap {
            img {
              @apply w-full h-full object-cover
            }

            @apply md:w-10 md:h-10 s:w-9 s:h-9 rounded-lg overflow-hidden md:mr-1.5 flex items-center justify-center bg-gray-90
          }

          .info {
            span {
              @apply leading-none block
            }

            .name {
              @apply font-bold flex items-center
            }

            @apply not-italic font-normal text-sm text-black-20 mr-1
          }

          .btnWrap {
            @apply flex items-center mr-0.5
          }

          @apply flex justify-start items-center
        }

        @apply md:p-2.5 my-0 md:mx-[5px] cursor-pointer flex items-center
      }

      .itemChangeTheme {
        @apply py-2.5 px-2
      }

      @apply ml-auto
    }

    @apply max-w-[1300px] flex items-center mx-auto w-[1300px] lg:p-4;
  }

  @apply w-full md:h-[74px] s:h-[58px] flex items-center py-2.5 px-[15px] fixed z-10;
}

@media only screen and (max-width: 375px) {
  .headerWrap {
    .headerLeftWrap {
      .btnToggleSideBar {
        @apply block
      }
    }
  }
}
