.uploadImage {
  .previewImage {
    position: relative;
    width: 150px;
    height: 100px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .removeWrap {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -5px;
      right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: white;
      color: #000000b8;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }

    .featuredWrap {
      position: absolute;
      top: 0;
      left: 0;
      border-top: 30px solid #097e1c;
      border-left: 0 solid transparent;
      border-right: 30px solid transparent;
      border-top-left-radius: 6px;
      cursor: pointer;

      svg {
        position: absolute;
        bottom: 14px;
        left: 2px;
        color: #ffe414;
      }
    }

    .noFeaturedWrap {
      border-top: 30px solid #cbcbcb !important;

      svg {
        color: #ffffff9c !important;
      }
    }
  }

  .uploadButton {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: #1677ff;
    }
  }
}