@import '../../assets/scss/variables';
.table table tr th {
    background-color: #e4e9ef;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.9;
}
.table .ant-table-body {
    max-height: calc(100vh - 420px);
    min-height: calc(100vh - 420px);
}

.table .ant-table .ant-table-container {
    border-inline-start: unset !important;     
}
.table {
    box-shadow: rgba(141, 141, 141, 0.16) 0px 1px 4px;
    border-radius: 10px;
}
.treeWrap .ant-tree-switcher {
    margin-top: 3px;
}
.avatar-permissions.ant-avatar-group{
    display: contents;
}
.ant-modal {
    width: 600px;
}
.treeWrap.ant-tree .ant-tree-node-content-wrapper {
    cursor: context-menu;
}
.treeWrap.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #eeeded ;
    padding-left: 8px;
}
.treeWrap.ant-tree .ant-tree-node-content-wrapper{
    padding-left: 8px;
}
.treeWrap.ant-tree .ant-tree-treenode .ant-tree-treenode-switcher-open .ant-tree-treenode-selected .ant-tree-treenode-leaf-last{
    background-color: #eeeded ;
}
.treeWrap.ant-tree .ant-tree-node-content-wrapper .ant-tree-title .styles_selectedWrap__3JvmA .styles_selectedContent__2Nz6i {
    margin-left: 6px;
}
.rowAvatar.ant-row{
    width: calc(100vh - 280px);
}

.tree_select_wrap {
    .ant-select-selector{
        .ant-select-selection-item{
            color: rgb(51 51 51);
            font-weight: 600;
        }  
    }
}

.ant-select-dropdown {
    padding-top: 20px;
    padding-bottom: 20px;
    .ant-select-tree-title {
        color: rgb(51 51 51);
        font-weight: 600;

        &:hover{
            opacity: 0.8;
        } 
    }
}
@media screen and (max-width: 768px) {
    .colContainer{
        display: none;
    }
    .buttonRole.ant-btn{
        padding: 4px 10px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 768px)  {
    .treeWrap .ant-tree-switcher{
        width: 10px;
    }
    .table .ant-table-body {
        height: calc(100vh - 335px);
    }
    .table .tableName{
        width: 100px !important;
    }
}
.table .tableName{
    width: 100px !important;
}

